html {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    background-color:lightskyblue;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
}

.mainPage {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.gameContainer {
    position: relative;
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    background-image: url("images/19143294.jpg");
    background-position:center;
    background-size: cover;
    overflow: hidden;
    border-radius: 30px;
}

.btnStart {
    width: 200px;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    border-radius: 30px;
    border: 0;
    background-color: lightskyblue;
}

.myPlayer {
    position: absolute;
    height: 100px;
    width: 60px;
    left: 20%;
    top: 70%;
    background-image: url("images/DialogueBarry0.png");
    background-position: center;
    background-size: 160%;
    border-bottom-right-radius: 30px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.obstacle {
    position: absolute;
    left: 100%;
    top: 78%;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    background-image: url("images/royalty-free-bomb-stock-photography-cartoon-bomb.jpg");
    background-position:100%;
    background-size: 100%;
    animation: rotate 1s linear infinite;
}

.result {
    top: 20%;
    position: absolute;
    font-size: 100px;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.score {
    position: absolute;
    top: 0;
    left: 5%;
}

.highScore {
    position: absolute;
    top: 5%;
    left: 5%;
}
